<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"  href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid " id="main">
        <div class="row">
            <a class="col-sm-4 transparent   flex vertical-center" href="/crawl" id="bar1">
                <div class="center-block flex imgbox " id="img1box">
                </div>
            </a>
            <div class="col-sm-4 transparent " id="bar2">
            </div>
            <a class="col-sm-4 transparent  flex vertical-center" href="/draw" id="bar3">
                    <div class="center-block flex imgbox " id="">
                      
                    </div>
            </a>
        </div>
    </div>
</body>
</html>