*{
    padding: 0;
    margin: 0,auto;
}
.flex{
    display: flex;
}
.row{
margin-bottom: 15px;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.center{
    display: flex;
    justify-content: center
}
.vertical-center{
    align-items: center;
}
.imgbox{
    width:400px;
    height:400px;
}
.margin-bottom{
    margin-bottom: 20px;
}
body{
    background-image: url(../pic/back-dark.png);
}
.text_center{
    text-align: center;
    text-align-last: center;
}
#collect{
    position: absolute;
    top:0 ;
    width: 40px;
    height: 60px;
    z-index: 3;
    display: none;
    top: 50px;
}
