*{
    margin: 0 auto;
    padding: 0;
}
.center{
    display: flex;
    justify-content: center
}
.flex{
    display: flex;
}
.on{
    background-color: red
}
.space{
    margin-top: 30px;
}
.margin-bottom{
    margin-bottom: 30px;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding:0;
}